node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Local Graph Node Docker
/subgraph/graph-node
/subgraph/graph/build

.history

# test
/frontend/app/setRecevier.ts
/frontend/app/test_abi.ts
/frontend/app/test.ts
